* text=auto
*.py text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.toml text eol=lf
*.tex text eol=lf
*.csv text eol=lf
*.npy binary
*.png binary
*.jpg binary
*.docx binary
*.pdf binary
